{% load static %}
{% load humanize %}

<div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

    <!-- category -->
    <div class="sidebar-block">
        <div class="title-block">Categories</div>
        <div class="block-content">
            {% for cat in categories %}
            <div class="cateTitle hasSubCategory open level1">
                <a class="cateItem" style="cursor:pointer"
                   {% if '/details/' in request.path %}
                        href="{% url 'blogs:list' %}?cat={{cat.id}}"
                   {% else %}
                        onclick="addUrlParameter('cat', '{{cat.id}}')"
                   {% endif %}>{{cat.name}}</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- recent posts -->
    <div class="sidebar-block">
        <div class="title-block">Recent Posts</div>
        <div class="post-item-content">
            {% for recent_post in recent_posts %}
            <div>
                <div class="late-item first-child">
                    <a href="{% url 'blogs:details' pk=recent_post.id %}">
                        <p class="content-title">{{recent_post.title}}</p>
                    </a>
                    <span>
                                                            <i class="zmdi zmdi-comments"></i>13 comment
                                                        </span>
                    <span>
                                                            <i class="zmdi zmdi-calendar-note"></i>{{recent_post.created_at|date}}
                                                        </span>
                    <p class="description">{{recent_post.description}}
                    </p>
                    <p class="remove">
                        <a href="{% url 'blogs:details' pk=recent_post.id %}">READ MORE</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- product tag -->
    <div class="sidebar-block product-tags">
        <div class="title-block">
            Blog Tags
        </div>
        <div class="block-content">
            <ul class="listSidebarBlog list-unstyled">
                {% for tag in tags %}
                <li>
                    <a style="cursor:pointer"
                       {% if '/details/' in request.path %}
                            href="{% url 'blogs:list'%}?tag={{tag.id}}"
                       {% else %}
                            onclick="addUrlParameter('tag', '{{tag.id}}')"
                       {% endif %}
                    title="Show products matching tag {{tag.name}}">{{tag}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- advertising -->
    <div class="sidebar-block group-image-special">
        <div class="effect">
            <a href="#">
                <img class="img-fluid" src="{% static 'img/blog/advertising.jpg' %}" alt="banner-2" title="banner-2">
            </a>
        </div>
    </div>

</div>

