{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper">
            <div id="main">
                <div class="page-home">

                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <span>Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Living Room</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Sofa</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </nav>
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                {% include 'blogs/blog-filter.html' %}
                                <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                    <h3>{{blog.title}}</h3>
                                    <div class="hover-after">
                                        <img src="{{ blog.image.url }}" alt="img" class="img-fluid">
                                    </div>
                                    <div class="late-item">
                                        <p>
                                            {{blog.content}}
                                        </p>
                                        <div class="border-detail">
                                            <p class="post-info float-left">
                                                <span>{{blog.created_at | naturaltime}}</span>
                                                <span>{{blog.blog_comments.count}} Comments</span>
                                                <span>{{blog.author.name}}</span>
                                            </p>
                                            <div class="btn-group">
                                                <a href="#">
                                                    <i class="zmdi zmdi-share"></i>
                                                    <span>Share</span>
                                                </a>
                                                <a href="#" class="email">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                    <span>SEND TO A FRIEND</span>
                                                </a>
                                                <a href="#" class="print">
                                                    <i class="zmdi zmdi-print"></i>
                                                    <span>Print</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="admin">
                                        <img src="{{ blog.author.image.url }}" alt="img" class="float-left right">
                                        <div class="info">
                                            <p>
                                                <a href="#">
                                                        <span class="content-title">
                                                            {{blog.author.name}}
                                                        </span>
                                                </a>
                                                <span>{{blog.author.position}}, {{blog.author.profession}}</span>
                                            </p>
                                            <p class="descript">
                                                {{blog.author.about}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="related">
                                        <h2 class="title-block">Related News</h2>
                                        {% for related_post in related_posts %}
                                        <div class="main-blogs">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="hover-after">
                                                            <a href="{% url 'blogs:details' pk=related_post.id %}">
                                                                <img src="{{related_post.image.url}}" alt="{{related_post.title}}" class="img-fluid">
                                                            </a>
                                                        </div>
                                                        <div class="late-item">
                                                            <p class="content-title">
                                                                <a href="blog-detail.html">{{related_post.title}}</a>
                                                            </p>
                                                            <p class="description">{{related_post.description}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                    <div class="reply late-item">
                                        <div class="blog-comment" id="blog-comment">
                                                <h2 class="title-block">Comments</h2>
                                            </div>
                                        {% for blog_comment in blog.blog_comments.all %}
                                                <div class="comment-content">
                                                <p class="user-title">
                                                    <a href="#">{{blog_comment.user.username}}</a>
                                                    <span class="time">Posted on {{blog_comment.created_at}}
                                                    </span>
                                                </p>
                                                <p class="content-comment">{{blog_comment.message}}
                                                </p>
                                            </div>

                                        {% endfor %}
                                    </div>
                                    <div class="submit-comment" id="respond">
                                        <div id="commentInput">
                                            <form action="{% url 'blogs:comment' pk=blog.id %}" method="post" id="commentform">
                                                {% csrf_token %}
                                                <input type="hidden" name="blog_id" id="comment_parent"
                                                       value="{{blog.id}}">
                                                <input type="hidden" name="next" id="next"
                                                       value="{{request.get_full_path|urlencode}}">
                                                <div class="row">
                                                    <div class="form-group col col-md-12">
                                                        <textarea tabindex="4" class="inputContent form-control grey"
                                                                  rows="10" name="message"
                                                                  placeholder="Your Message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="submit">
                                                    <input type="submit" name="addComment" id="submitComment"
                                                           class="btn btn-default" value="Send Message">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
