{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="{% url 'pages:home' %}">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'orders:history' %}">
                                    <span>Orders History</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>

        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                        <div id="main">
                            <div id="content" class="page-content">
                                <div id="mywishlist">
                                    <h1 class="title-page">My Orders</h1>
                                    <div id="block-history" class="block-center">
                                        <table class="std table">
                                            {% for my_order in my_orders %}
                                            <thead>
                                                <tr>
                                                    <th class="first_item">ID</th>
                                                    <th class="item mywishlist_first">Types of Products</th>
                                                    <th class="item mywishlist_first">Status</th>
                                                    <th class="item mywishlist_second">Ordered Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="wishlist_1">
                                                    <td>
                                                        {{my_order.id}}
                                                    </td>
                                                    <td>{{my_order.items.count}}</td>
                                                    <td>
                                                    {% if my_order.status == 'Pending' %}
                                                        <div>{{my_order.status}}    <i class="fa-solid fa-spinner"></i></div>
                                                    {% elif my_order.status == 'Accepted' %}
                                                        <div style="color:blue; ">{{my_order.status}}    <i class="fa-solid fa-check"></i></div>
                                                    {% elif my_order.status == 'Delivered' %}
                                                        <div style="color:green;">{{my_order.status}}    <i class="fa-sharp fa-regular fa-circle-check"></i></div>
                                                    {% elif my_order.status == 'Cancelled' %}
                                                        <div style="color:red;">{{my_order.status}}    <i class="fa-solid fa-spinner"></i></div>
                                                    {% endif %}
                                                    </td>
                                                    <td>{{my_order.created_at|date:"Y-m-d"}}</td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <div class="page-home">
                                        <a class="btn btn-default" href="{% url 'pages:home' %}">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>Homepage</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}